@using ClimbingGym.Infrastructure.Data.Identity
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">

	<div class="user-panel mt-3 pb-3 mb-3 d-flex">
		<div class="info">
			<a href="#" class="d-block">@User.Identity?.Name</a>
		</div>
	</div>

</ul>
