@{
    ViewData["Title"] = "Home Page Admin";
}

<div class="text-center">
    <h1 class="display-4">Welcome Administator</h1>
    <a asp-area="admin" asp-action="manageusers" asp-controller="user" class="btn btn-primary btn-block"><b>Manage users</b></a>
</div>
